header {
  background: linear-gradient(
    90deg,
    #536fac 0%,
    #6d9cb6 21.1%,
    #8bcdc2 62.6%,
    #a8d5ba 92.1%
  );
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.logo {
  width: 10%;
  padding: 10px;
  justify-content: center;
}

.title {
  color: white;
  text-align: center;
}
