.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.search-bar {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px;
  position: relative; /* Ajouté pour pouvoir positionner l'icône de recherche correctement */
}

.search-input {
  flex-grow: 1;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  outline: none; /* Enlève le contour visible */
}

.search-input:focus {
  border: none; /* Toujours pas de bordure quand l'input est focus */
}

.image-loupe {
  height: 20px;
  width: 20px;
  margin: 5px;
  cursor: pointer;
  margin-left: 10px; /* Espacement entre l'input et la loupe */
  transition: transform 0.3s ease; /* Animation au survol */
}

.image-loupe:hover {
  transform: scale(1.1); /* Agrandissement de l'icône au survol */
}

.search-results {
  margin-top: 1rem;
  width: 100%;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.search-result-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  color: #333;
}

.search-result-item:last-child {
  border-bottom: none;
}

.search-result-item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
